body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the content stretches to fill the viewport height */
}

.header {
  background-image: url('/src/assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  text-align: center;
  font-size: 30px;
  background-color: rgb(0, 0, 211);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin: 0;
  padding-left: 0;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  line-height: 30px;
  font-size: 20px;
}

.navbar a { /* a tag is for link in react */
  display: block;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 10px; /* Adjust this value for more or less rounding */
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: blue; /* Change to the color you want on hover */
  transform: scale(1.2);
  transition: all 0.6s ease;
}

.link {
  color: white;
}

.icon {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
}

.icon:hover {
  transform: scale(2.0);
  transition: all 0.6s ease;
  color: #0024db;
}

.main {
  background-image: url('assets/kiacenter.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #787878;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; /* The exact viewhight to keep footer at the bottom under all content */
}

.contentWrap {
  padding-bottom: 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer2 {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.homePage {
  color: white;
  text-align: center;
  font-size: 70px;
  background-color: rgb(0, 0, 0, .8);
  margin: 5% 15% 5% 15%;
  padding: 0.5%;
}